<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>关于我们_公司简介</title>
</head>
<body>
  <%-include ../../../public/header.ejs%>
  <%-include ../../../public/nbanner.ejs%>
  <%-include ../../../public/search.ejs%>
  <%-include ../../../public/breadcrumb.ejs%>
  <%-include ../../../public/subnav.ejs%>
  <!-- 公司简介 -->
  <div class="l-profile">
    <div class="l-container">
      <!-- 关于腾屹 -->
      <div class="l-profile__about">
        <div class="l-container__main">
          <div class="l-container__header">
            <h2 class="l-container__title">
              关于腾屹
            </h2>
            <p class="l-container__subtitle">为每一位用户提供专业的解决方案</p>
          </div>
        </div>
        <img class="l-profile__about__pic" src="<%=require('@/assets/profile-pic1.png')%>" alt="关于腾屹"/>
        <p class="l-profile__about__content">大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司</p>
      </div>
      <!-- 腾屹产品实力 -->
      <div class="l-profile__product">
        <div class="l-container__main">
          <div class="l-container__header">
            <h2 class="l-container__title">
                腾屹产品实力
            </h2>
            <p class="l-container__subtitle">为每一位用户提供专业的解决方案</p>
          </div>
        </div>
        <p class="l-profile__product__content">大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司</p>
        <img class="l-profile__product__pic" src="<%=require('@/assets/profile-pic2.jpg')%>" alt="腾屹产品实力"/>
        <p class="l-profile__product__desc">大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司大同腾屹医疗有限公司</p>
      </div>
    </div>
  </div>
  <%-include ../../../public/footer.ejs%>
</body>
</html>