<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>关于我们_发展历程</title>
</head>
<body>
  <%-include ../../../public/header.ejs%>
  <%-include ../../../public/nbanner.ejs%>
  <%-include ../../../public/search.ejs%>
  <%-include ../../../public/breadcrumb.ejs%>
  <%-include ../../../public/subnav.ejs%>
  <!-- 发展历程 -->
  <div class="l-course">
    <div class="l-container">
      <h2 class="l-course__header">发展历程</h2>
      <div class="l-course__timerange">
        <div class="l-course__timerange__wrapper">
          <ul class="l-course__timerange__list">
            <li class="l-course__timerange__item l-course__timerange__item--active">
              <a href="javascript:void(0);">
                <span>2018</span>
              </a>
            </li>
            <li class="l-course__timerange__item">
              <a href="javascript:void(0);">
                <span>2017</span>
              </a>
            </li>
            <li class="l-course__timerange__item">
              <a href="javascript:void(0);">
                <span>2016</span>
              </a>
            </li>
            <li class="l-course__timerange__item">
              <a href="javascript:void(0);">
                <span>2015</span>
              </a>
            </li>
            <li class="l-course__timerange__item">
              <a href="javascript:void(0);">
                <span>2014</span>
              </a>
            </li>
            <li class="l-course__timerange__item">
              <a href="javascript:void(0);">
                <span>2013</span>
              </a>
            </li>
            <li class="l-course__timerange__item">
              <a href="javascript:void(0);">
                <span>2012</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="l-course__timerange__tab">
          <div class="l-course__timerange__tab__item l-course__timerange__tab__item--left"></div>
          <div class="l-course__timerange__tab__item l-course__timerange__tab__item--right"></div>
        </div>
      </div>
      <div class="l-course__content clearfix">
        <div class="l-course__content__year">2018<span>年</span></div>
        <div class="l-course__content__main">
          发展历程发展历程发展历程发展历程发展历程发展历程发展历程发展历程
          发展历程发展历程发展历程发展历程发展历程发展历程发展历程发展历程
        </div>
      </div>
    </div>
  </div>
  <%-include ../../../public/footer.ejs%>
</body>
</html>