<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{dede:field.seotitle /}_{dede:field.title/}_{dede:global.cfg_webname/}</title>
  <meta name="keywords" content="{dede:field name='keywords'/}" />
  <meta name="description" content="{dede:field name='description' function='html2text(@me)'/}" />
  <link rel="stylesheet" href="/templets/yiliao/static/zoom.css">
</head>
<body>
  <%-include ../../../public/header.ejs%>
  <%-include ../../../public/nbanner.ejs%>
  <%-include ../../../public/search.ejs%>
  <%-include ../../../public/breadcrumb.ejs%>
  <%-include ../../../public/subnav.ejs%>
  <!-- 荣誉资质 -->
  <div class="l-aualification">
    <div class="l-container">
      <ul class="l-aualification__list clearfix gallery">
        {dede:list row="1000"}
        <li class="l-aualification__item">
          <a class="l-aualification__pic" href="[field:litpic/]">
            <img src="[field:litpic/]" alt="[field:title/]" />
          </a>
          <a class="l-aualification__label" href="[field:litpic/]">[field:title/]</a>
        </li>
        {/dede:list}
      </ul>
    </div>
  </div>
  <%-include ../../../public/footer.ejs%>
  <script>
    var subnavItems = document.querySelectorAll('.l-subnav__item')[1],
        headerNavItems = document.querySelector('.c-nav__item[data-id="2"]');
    headerNavItems.classList.add('c-nav__item--active')
    subnavItems.classList.add('l-subnav__item--active')
  </script>
  <script src="/templets/yiliao/static/jquery.min.js"></script>
  <script src="/templets/yiliao/static/zoom.min.js"></script>
</body>
</html>