<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{dede:field.seotitle /}_{dede:field.title/}_{dede:global.cfg_webname/}</title>
  <meta name="keywords" content="{dede:field name='keywords'/}" />
  <meta name="description" content="{dede:field name='description' function='html2text(@me)'/}" />
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=BTrGh2jRlu85oeUCRsmVWj25NpCANrKS"></script>
</head>
<body>
  <%-include ../../../public/header.ejs%>
  <%-include ../../../public/nbanner.ejs%>
  <%-include ../../../public/search.ejs%>
  <%-include ../../../public/breadcrumb.ejs%>
  <%-include ../../../public/subnav.ejs%>
  <input id="address" type="hidden" value="{dede:global.address/}" />
  <!-- 联系方式 -->
  <div class="l-contact">
    <div class="l-container">
      <h2 class="l-contact__header">联系方式</h2>
      <div class="l-contact__main clearfix">
        <div class="l-contact__info">
          <h3 class="l-contact__info__title">大同腾屹医疗器械有限公司</h3>
          <p class="l-contact__info__item l-contact__info__item--hotline">资讯热线：{dede:global.tel_one/}</p>
          <p class="l-contact__info__item l-contact__info__item--tel">客服电话：{dede:global.tel_three/}</p>
          <p class="l-contact__info__item l-contact__info__item--fax">联系传真：{dede:global.fax/}</p>
          <p class="l-contact__info__item l-contact__info__item--email">公司邮箱：{dede:global.email/}</p>
          <p class="l-contact__info__item l-contact__info__item--address">公司地址：{dede:global.address/}</p>
          <div class="l-contact__info__qrcode">
            <img src="<%=require('@/assets/contact-qrcode.png')%>" width="100%" alt="客服微信">
            客服微信
          </div>
        </div>
        <div class="l-contact__map">
          <div id="map" class="l-contact__map__el"></div>
        </div>
      </div>
    </div>
  </div>
  <%-include ../../../public/footer.ejs%>
  <script>
    var subnavItems = document.querySelectorAll('.l-subnav__item')[6]
    subnavItems.classList.add('l-subnav__item--active')
  </script>
</body>
</html>