<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{dede:field.seotitle /}_{dede:field.title/}_{dede:global.cfg_webname/}</title>
  <meta name="keywords" content="{dede:field name='keywords'/}" />
  <meta name="description" content="{dede:field name='description' function='html2text(@me)'/}" />
</head>
<body>
  <%-include ../../public/header.ejs%>
  <%-include ../../public/nbanner.ejs%>
  <%-include ../../public/search.ejs%>
  <%-include ../../public/breadcrumb.ejs%>
  <!-- 招代理 -->
  <div class="l-custom">
    <div class="l-container">
      <h2 class="l-custom__header">定制产品</h2>
      <div class="l-custom__title">一、定制产品流程</div>
      <div class="l-custom__main clearfix">
        <div class="l-custom__main__left">
          <img src="<%=require('@/assets/custom-product-pic1.png')%>" alt="定制产品">
        </div>
        <div class="l-custom__main__right">
          <!-- <h2>腾屹客户专属服务●私人订制</h2> -->
          <p>全程跟踪病例指导、详细的指导方案<br/>如果您在正畸过程中遇到问题，我们的专家团队会及时为您解答，学习的过程中，也能增加收益。
              不定期举办线上或线下培训：一线临床经验丰富的老师授课，手把手教学，边学边实践，让您的理论学习和临床病例完美结合。
              </p>
        </div>
      </div>
      <div class="l-custom__list clearfix">
        <div class="l-custom__item">
          <div class="l-custom__item__title">01.联系我们</div>
          <p class="l-custom__item__content">添加技术顾问、提交资料等。</p>
        </div>
        <div class="l-custom__item">
          <div class="l-custom__item__title">02.制定方案</div>
          <p class="l-custom__item__content">腾屹专家团队配合医生确定矫治方案。</p>
        </div>
        <div class="l-custom__item">
          <div class="l-custom__item__title">03.开始制作</div>
          <p class="l-custom__item__content">计算机辅助设计，制作个性化矫治器。</p>
        </div>
        <div class="l-custom__item">
          <div class="l-custom__item__title">04.快递配送</div>
          <p class="l-custom__item__content">配送矫治器，临床指导建议。</p>
        </div>
        <div class="l-custom__item">
          <div class="l-custom__item__title">05.跟踪指导</div>
          <p class="l-custom__item__content">跟踪指导建议直至病例矫治结束。</p>
        </div>
      </div>  
      <!-- <div class="l-custom__title">二、交付流程</div>
      <div class="l-custom__main clearfix">
        <div class="l-custom__main__left">
          <img src="<%=require('@/assets/custom-product-pic1.png')%>" alt="定制产品">
        </div>
        <div class="l-custom__main__right">
          <p>产品定制产品定制产品定制产品定制产品定制产品定制产品定制产品定制产品定制产品定制产品定制产品定制产品定制产品定制产品定制</p>
        </div>
      </div>
      <div class="l-custom__list clearfix">
        <div class="l-custom__item">
          <div class="l-custom__item__title">01.定制产品定制产品</div>
          <p class="l-custom__item__content">定制产品定制产品定制产品定制产品定制产品定制产品定制产品</p>
        </div>
        <div class="l-custom__item">
          <div class="l-custom__item__title">01.定制产品定制产品</div>
          <p class="l-custom__item__content">定制产品定制产品定制产品定制产品定制产品定制产品定制产品</p>
        </div>
        <div class="l-custom__item">
          <div class="l-custom__item__title">01.定制产品定制产品</div>
          <p class="l-custom__item__content">定制产品定制产品定制产品定制产品定制产品定制产品定制产品</p>
        </div>
        <div class="l-custom__item">
          <div class="l-custom__item__title">01.定制产品定制产品</div>
          <p class="l-custom__item__content">定制产品定制产品定制产品定制产品定制产品定制产品定制产品</p>
        </div>
        <div class="l-custom__item">
          <div class="l-custom__item__title">01.定制产品定制产品</div>
          <p class="l-custom__item__content">定制产品定制产品定制产品定制产品定制产品定制产品定制产品</p>
        </div>
        <div class="l-custom__item">
          <div class="l-custom__item__title">01.定制产品定制产品</div>
          <p class="l-custom__item__content">定制产品定制产品定制产品定制产品定制产品定制产品定制产品</p>
        </div>
      </div> -->
      <h2 class="l-custom__header">产品案例</h2>
      <div class="l-custom__products clearfix">
        {dede:arclist typeid="15" row="4"}
        <div class="l-custom__products__item">
          <a class="l-custom__products__pic" href="[field:arcurl/]" title="[field:title/]">
            <img src="[field:litpic/]" alt="[field:title/]" title="[field:title/]"/>
          </a>
          <div class="l-custom__products__main">
            <a class="l-custom__products__title" href="[field:arcurl/]">[field:title/]</a>
            <p class="l-custom__products__desc">[field:description/]</p>
          </div>
        </div>
        {/dede:arclist}
      </div>
    </div>
    <%-include ../../public/message.ejs%>
  </div>
  <%-include ../../public/footer.ejs%>
</body>
</html>