<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{dede:field.seotitle /}_{dede:field.title/}_{dede:global.cfg_webname/}</title>
  <meta name="keywords" content="{dede:field name='keywords'/}" />
  <meta name="description" content="{dede:field name='description' function='html2text(@me)'/}" />
</head>
<body>
  <%-include ../../public/header.ejs%>
  <%-include ../../public/nbanner.ejs%>
  <%-include ../../public/search.ejs%>
  <%-include ../../public/breadcrumb.ejs%>
  <!-- 招代理 -->
  <div class="l-proxy">
    <!-- 优势 -->
    <div class="l-advantage">
      <div class="l-container">
        <h2 class="l-proxy__header">
          我们的优势
        </h2>
        <ul class="l-advantage__list clearfix">
          <li class="l-advantage__item">
            <i class="l-advantage__icon"></i>
            <div class="l-advantage__title">设计中心</div>
            <p class="l-advantage__content">设立设立设立设立设立设立设立设立设立设立</p>
          </li>
          <li class="l-advantage__item">
            <i class="l-advantage__icon"></i>
            <div class="l-advantage__title">设计中心</div>
            <p class="l-advantage__content">设立设立设立设立设立设立设立设立设立设立</p>
          </li>
          <li class="l-advantage__item">
            <i class="l-advantage__icon"></i>
            <div class="l-advantage__title">设计中心</div>
            <p class="l-advantage__content">设立设立设立设立设立设立设立设立设立设立</p>
          </li>
          <li class="l-advantage__item">
            <i class="l-advantage__icon"></i>
            <div class="l-advantage__title">设计中心</div>
            <p class="l-advantage__content">设立设立设立设立设立设立设立设立设立设立</p>
          </li>
        </ul>
      </div>
    </div>
    <!-- 条件 -->
    <div class="l-condition">
      <div class="l-container">
        <div class="l-condition__item l-condition__item--one">
          <span>01</span>
          <p>XXXXXXXXXXXXXXXXXXXXXXXX</p>
        </div>
        <div class="l-condition__item l-condition__item--two">
          <span>02</span>
          <p>XXXXXXXXXXXXXXXXXXXXXXXX</p>
        </div>
        <div class="l-condition__item l-condition__item--three">
          <span>03</span>
          <p>XXXXXXXXXXXXXXXXXXXXXXXX</p>
        </div>
        <div class="l-condition__item l-condition__item--four">
          <span>04</span>
          <p>XXXXXXXXXXXXXXXXXXXXXXXX</p>
        </div>
        <div class="l-condition__item l-condition__item--five">
          <span>05</span>
          <p>XXXXXXXXXXXXXXXXXXXXXXXX</p>
        </div>
        <div class="l-condition__item l-condition__item--six">
          <span>06</span>
          <p>XXXXXXXXXXXXXXXXXXXXXXXX</p>
        </div>
      </div>
    </div>
    <!-- 流程 -->
    <div class="l-process">
      <div class="l-container">
        <h2 class="l-proxy__header">
          加盟流程
        </h2>
        <div class="l-process__content"></div>
      </div>
    </div>
    <!-- 招商加盟 -->
    <div class="l-join">
      <div class="l-container">
        <h2 class="l-proxy__header">
          招商加盟
        </h2>
        <div class="l-join__item">
          <h3 class="l-join__title">XXXXXXX</h3>
          <p class="l-join__content">招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案</p>
          <div class="l-join__imgs clearfix">
            <div class="l-join__imgs__item">
              <img src="<%=require('@/assets/proxy-join-pic1.png')%>" alt="招商" />
              <div class="l-join__imgs__name">招商文案</div>
              <p class="l-join__imgs__content">招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案</p>
            </div>
            <div class="l-join__imgs__item">
              <img src="<%=require('@/assets/proxy-join-pic1.png')%>" alt="招商" />
              <div class="l-join__imgs__name">招商文案</div>
              <p class="l-join__imgs__content">招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案</p>
            </div>
          </div>
        </div>
        <div class="l-join__item">
          <h3 class="l-join__title">XXXXXXX</h3>
          <p class="l-join__content">招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案</p>
          <div class="l-join__desc clearfix">
            <img class="l-join__desc__img" src="<%=require('@/assets/proxy-join-pic1.png')%>" alt="招商" />
            <div class="l-join__desc__content">
              <p>招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案</p>
            </div>
          </div>
        </div>
        <div class="l-join__item">
          <h3 class="l-join__title">XXXXXXX</h3>
          <div class="l-join__imgs clearfix">
            <div class="l-join__imgs__item">
              <img src="<%=require('@/assets/proxy-join-pic1.png')%>" alt="招商" />
              <p class="l-join__imgs__content">招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案</p>
            </div>
            <div class="l-join__imgs__item">
              <img src="<%=require('@/assets/proxy-join-pic1.png')%>" alt="招商" />
              <p class="l-join__imgs__content">招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案招商文案</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%-include ../../public/message.ejs%>
  </div>
  <%-include ../../public/footer.ejs%>
</body>
</html>