<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>行业资讯</title>
</head>
<body>
  <%-include ../../public/header.ejs%>
  <%-include ../../public/nbanner.ejs%>
  <%-include ../../public/search.ejs%>
  <%-include ../../public/breadcrumb.ejs%>
  <!-- 主框架 -->
  <div class="l-container clearfix">
    <!-- 左侧导航 -->
    <div class="l-leftnav">
      <h2 class="l-leftnav__title">腾屹资讯中心</h2>
      <div class="l-leftnav__list">
        <%Array(2).fill(null).forEach(() => {%>
        <div class="l-leftnav__item">
          <a class="l-leftnav__item__label" href="javascript:void(0);">腾屹新闻</a>
          <div class="l-leftnav__item__children">
            <%Array(5).fill(null).forEach(() => {%>
            <a class="l-leftnav__item__children__item" href="#">腾屹动态</a>
            <%});%>
          </div>
        </div>
        <%});%>
      </div>
      <div class="l-leftnav__contact">
        <span>资讯热线</span>
        <p>400-000-9261</p>
      </div>
    </div>
    <!-- 右侧容器 -->
    <div class="l-rightbody">
      <ul class="l-news clearfix">
        <%Array(9).fill(5).forEach(() => {%>
        <li class="l-news__item clearfix">
          <a class="l-news__img" href="/article_news.htm">
            <img src="<%=require('@/assets/product-item.png')%>" alt="产品"/>
          </a>
          <div class="l-news__body">
            <a class="l-news__title" href="/article_news.htm" alt="产品">网站发布了</a>
            <p class="l-news__desc">网站发布了网站发布了网站发布了网站发布了网站发布了网站发布了网站发布了网站发布了网站发布了网站发布了网站发布了网站发布了网站发布了网站发布了网站发布了网站发布了网站发布了网站发布</p>
            <button class="l-news__btn">了解详情</button>
          </div>
        </li>
        <%})%>
      </ul>
    </div>
  </div>
  <%-include ../../public/footer.ejs%>
</html>